@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

:root {
  font-family: "Roboto Slab";
  background-color: #272d2d;
  color: #fafafa;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-areas: "header" "callcontainer" "messagecontainer";
  grid-template-areas:
    "header header"
    "callcontainer messagecontainer";
  grid-template-columns: 50% 50%;
}

#header {
  grid-area: header;
  text-align: center;
}

#call-container {
  grid-area: callcontainer;
  padding: 20px;
}

#message-container {
  grid-area: messagecontainer;
  padding: 20px;
}

#me {
  color: #255c99;
}

#him {
  color: #f8333c;
  text-align: right;
}

#infoerror {
  color: #f8333c;
}

#message-sent {
  background-color: #040f16;
  border: 1px solid white;
  max-height: 400px;
  margin-bottom: 10px;
  height: 100%;
}

audio {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}

@media (max-width: 640px) {
  #container {
    grid-template-areas:
      "header"
      "callcontainer"
      "messagecontainer";
  }
}
