#message-sent {
  display: flex;
  overflow: auto;
  flex-direction: column;
  background-color: #040f16;
  border: 1px solid white;
  margin-bottom: 10px;
  max-height: 380px;
  min-height: 380px;
}

.time {
  color: #999;
  font-size: 12px;
}

#me {
  color: #5887ff;
}

#him {
  color: #f8333c;
  text-align: right;
}
