.input__group {
  width: 50%;
}
.input__field {
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 2px solid #1ab188;
  outline: 0;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #fff;
  background: transparent;
  transition: border-color 0.2s;
}
#peerid {
  width: 30%;
}
.input__label {
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
}
.input__wrapper {
  margin-bottom: 50px;
}
.input__field:focus {
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}
.input__field:focus ~ .input__label {
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #da4167;
  font-weight: 700;
}
